/* Variables */
:root {
  --primary-color: #134d71;
  --secondary-color: #78a7c6;
  --background-gradient: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    #f7e4bf
  );
  --font-family: "Quicksand", sans-serif;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
}

/* Global Styles */
html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-image: var(--background-gradient);
  background-size: 100% 100%;
  font-family: var(--font-family);
  color: var(--text-color-white);
}

.hidden {
  display: none;
}

/* Header Styles */
header {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

/* Form Styles */
form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.choice {
  color: var(--text-color-black);
}

/* Message Section Styles */
.which-message {
  width: 33%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.which-message button {
  width: 40%;
}

/* Button Styles */
button {
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: lighter;
  font-family: var(--font-family);
}

button:disabled {
  background-color: #78a7c6;
}

label {
  font-style: italic;
}

/* Specific Form Styles */
.which-message > form,
.message-section {
  background-color: white;
}

.message-section {
  width: 50%;
  margin: 100px auto;
  height: 15vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  color: #000000;
}

/* Image Styles */
img {
  width: 60px;
}
