/* Variables */
:root {
  --primary-color: #134d71;
  --secondary-color: #78a7c6;
  --background-gradient: linear-gradient(
    var(--primary-color),
    var(--secondary-color),
    #f7e4bf
  );
  --font-family: "Quicksand", sans-serif;
  --text-color-white: #ffffff;
  --text-color-black: #000000;
  --dark-red: #cc0000;
}

/* Global Styles */
html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  background-image: var(--background-gradient);
  background-size: 100% 100%;
  font-family: var(--font-family);
  color: var(--text-color-white);
}

/* Header Styles */
header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

header > button {
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px;
  background-color: var(--secondary-color);
  color: var(--text-color-white);
}

/* Form Styles */
form {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.options {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.choice {
  color: var(--text-color-black);
}

/* Message Section Styles */
.which-message {
  width: 33%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.which-message button {
  width: 40%;
}

/* Button Styles */
button,
.favorite-button,
.view-favorites {
  color: var(--text-color-white);
  font-family: var(--font-family);
  border: none;
  border-radius: 3px;
  font-size: 15px;
  padding: 5px 10px;
  font-weight: lighter;
}

button,
.favorite-button {
  background-color: var(--primary-color);
}

.favorite-button {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-favorites {
  background-color: var(--dark-red);
}

.favorite-activated {
  fill: red;
}

/* Specific Form Styles */
.which-message > form,
.message-section {
  background-color: white;
}

.receive-message:disabled {
  background-color: var(--secondary-color);
}

.message-section {
  width: 50%;
  margin: 100px auto;
  height: 15vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-div {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.message {
  color: #000000;
}

/* Favorites Page */
.favorites-page {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: auto;
}

.favorites-page > .message-section {
  margin: 20px;
  width: 20%;
  height: 40px;
  padding: 30px 15px;
  text-align: center;
}

/* Image Styles */
img {
  width: 60px;
}
